{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ],
    "react/jsx-filename-extension": 0,
    "linebreak-style": 0,
    "react/prefer-stateless-function": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/prefer-default-export": 0,
    "no-confusing-arrow": 0
  }
}